:root {
  --bg-color-body: #EEEEEE;
  --bg-color-section: #FFFFFF;
  --bg-color-li: #F9F9F9;
  --bg-color-header: #009688;
  --bg-color-back-header: #0A7369;

}

* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color-body);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

/* ========================= */
main {
  padding-left: .9375rem;
  padding-right: .9375rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 47.9375rem) {
  html {
    font-size: 12px;
  }

}


/* Small */
@media (min-width: 48rem) {
  main {
    width: 46.875rem;
  }
}

/* Medium */
@media (min-width: 62rem) {
  main {
    width: 60.625rem;
  }
}

/* Large */
@media (min-width: 75rem) {
  main {
    width: 73.125rem;
  }
}

/* ====================== */
main section {
  background-color: var(--bg-color-section);
  padding: 1.25rem;
}

main section h3 {
  width: fit-content;
  background-color: var(--bg-color-header);
  padding: .625rem 1.5625rem;
  margin-left: -1.875rem;
  margin-bottom: 1.25rem;
  color: var(--bg-color-section);
  font-size: 1.75rem;
  font-weight: normal;
  position: relative;
}

main section h3::after {
  content: '';
  background-color: var(--bg-color-back-header);
  width: .625rem;
  height: 50%;
  position: absolute;
  z-index: -4;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: translate(0, 0)skewY(45deg);
  -webkit-transform: translate(0, 0)skewY(45deg);
  -moz-transform: translate(0, 0)skewY(45deg);
  -ms-transform: translate(0, 0)skewY(45deg);
  -o-transform: translate(0, 0)skewY(45deg);
}

main section form label {
  display: block;
  padding: 1.25rem;
  padding-left: 3.125rem;
  font-size: 1.25rem;
  margin-top: .625rem;
  background-color: var(--bg-color-li);
  position: relative;
  cursor: pointer;
  user-select: none;
}

main section form label>input {
  display: none;
}

main section form label>span {
  background-color: var(--bg-color-section);
  height: 1.375rem;
  width: 1.375rem;
  border: .125rem solid #DBDBDB;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  -moz-transform: translate(80%, -50%);
  -ms-transform: translate(80%, -50%);
  -o-transform: translate(80%, -50%);
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

label:hover input~span {
  background-color: var(--bg-color-body);
}

label input:checked~span {
  background-color: var(--bg-color-section);
}

span:after {
  content: "";
  width: 75%;
  height: 75%;
  border-radius: .25rem;
  display: none;
  background-color: var(--bg-color-header);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


label input:checked~span:after {
  display: block;
}

input:checked~p {
  text-decoration: line-through;
}